<h1>Pin Objects</h1>

<table class="table table-striped table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Pin Name</th>
      <th>Hovertext</th>
      <th>Associated Mood Board</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= link_to pin.pin_name, mood_board_pin_path(@moodboard, pin) %></td>
        <td><%= pin.hovertext %></td>
        <td><%= link_to pin.mood_board.title, mood_board_path(pin.mood_board) %>
        <% if @moodboard.user == current_user %>
          <td><%= link_to "Delete", mood_board_pin_path(@moodboard, pin), method: :delete %> | <%= link_to "Edit", edit_mood_board_pin_path(@moodboard, pin) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

<% if @moodboard.user == current_user %>
  <p class="button"><%= link_to "Create New Pin", new_mood_board_pin_path(@moodboard), class: 'btn btn-primary' %></p>
<% end %>

<p class="button"> <%= link_to "Back to the Mood Board", mood_board_path(@moodboard), class: 'btn btn-primary' %>

</table>