<h1> Welcome to MoodBoards!</h1>

<table class="table table-striped table-hover">

    <thead class="thead-dark">
    <tr>
        <th>MoodBoard Title</th>
        <th>MoodBoard Template</th>
        <th>MoodBoard Rating</th>
        <th>Creator</th>
        <th>Featured?</th>
        <% if user_signed_in?%>
            <th>Modify Board</th>
        <% end %>
    </tr>
    </thead>

    <tbody>
    <% @mood_boards.each do |m| %>
    <tr>
        <td><%= link_to m.title, mood_board_path(m) %> </td>
        <td><%= m.template %></td>
        <td><%= m.global_rating %></td>
        <% if user_signed_in?%>
            <td><%= link_to m.user.username, m.user %></td>
        <% else %>
            <td><%= m.user.username %></td>
        <% end %>
        <td><%= m.featured %></td>
        <% if user_signed_in? %>
            <td>
                <% if m.user == current_user  %>
                    <%= link_to 'Edit', edit_mood_board_path(m) %> |
                    <%= link_to 'Destroy', destroy_mood_board_path(m), method: :delete %>
                <% end %>
            </td>
        <% end %>
     </tr>
    <% end %>
    </tbody>
</table>

<hr style="background-color:#000;">

<% @mood_boards.each_with_index do |m, m_index| %>
    <% if m_index < 5 %>
        <h1 style="text-align: center; font-weight: bold"><%= link_to m.title, mood_board_path(m) %></h1>
        <div class="container">
            <div class="row">
                <% m.pins.each_with_index  do |pin, p_index| %>
                    <% if p_index < 5 %>
                        <% offsets = [3,4,8,9,13,14,18,19,23,24,28,29] %>
                        <% if offsets.include?(p_index) %>
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-5 mt-5">
                                <% if m.template == "Bubbles" %>
                                    <%= link_to image_tag(pin.image_file, :class=>'bubbles'), mood_board_pin_path(m, pin), title: pin.hovertext %>
                                <%else%>
                                    <%= link_to image_tag(pin.image_file, :class=>'blocks'), mood_board_pin_path(m, pin), title: pin.hovertext %>
                                <%end%>
                            </div>
                        <% else %>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <% if m.template == "Bubbles" %>
                                    <%= link_to image_tag(pin.image_file, :class=>'bubbles'), mood_board_pin_path(m, pin), title: pin.hovertext %>
                                <%else%>
                                    <%= link_to image_tag(pin.image_file, :class=>'blocks'), mood_board_pin_path(m, pin), title: pin.hovertext %>
                                <%end%>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="container mb-info mr-auto">
            <h3>Rating: <%= m.global_rating %></h3>

            <% if m.user == current_user %>
                <p class="button"><%= link_to "Add/edit Pins", mood_board_pins_path(m), class: 'btn btn-primary' %></p>
                <p class="button"> <%= link_to 'Edit Mood Board', edit_mood_board_path(m), class: 'btn btn-primary' %> </p>
            <% end %>
        
        </div>
    <hr style="background-color:#000;">
    <% end %>
<% end %> 